<%- include header %>
	<div class='article-box top-margin'>
		<article class='article top-margin'>
			<h1 class='article-title'><%- post.title %></h1>
			<p class='post-meta'>发布于 
				<span class='post-time'><%- post.time.minute %></span>
				<a class='post-category post-category-js' href='#'><%= post.tag %></a>
			</p>
			<div class='edit-group'>
				<a href="/posts/title/edit">编辑</a>
				<a href="/posts/title/remove">删除</a>
			</div>
			<section class='content'>
				<%- post.content %>
			</section>
			<section class='assist'>
				<button class='like'>
					<span class='like-icon'></span>
					&nbsp;喜欢&nbsp;&nbsp; | &nbsp;&nbsp;<span><%- post.like %></span></button>
			</section>
		</article>
		<%# include comment %>
	</div>
	<% if(success) { %>
		<div><%= success %></div>
	<% } %>
<%- include footer %>