<%- include header %>
	<form class='top-margin' method='post' action='/edit/<%= post.name %>/<%= post.title %>'>
		标题：<br />
		<input type='text' name='title' value='<%= post.title %>' /><br />
		正文：<br />
		<textarea name='post' row='20' cols='100'><%= post.post %></textarea><br />
		<input type='submit' value='保存修改' />
	</form>
	<% if(success) { %>
		<div><% success %></div>
	<% } %>
<%- include footer %>