<%- include header %>
    <div class='pure-g'>
      <%- include cover %>
      <div class='pure-u-3-4' id='content'>
        <%- include index-list %>
      </div>
    </div>
    <% if(success) { %>
      <div><%= success %></div>
      <div><%= user.name %></div>
    <% } %>
    <% if(error) { %>
      <div><%= error %></div>
    <% } %>
<%- include footer %>