<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/stylesheets/pure-min.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <!--[if lt IE9]> 
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]> 
    <noscript>
         <style>.html5-wrappers{display:none!important;}</style>
         <div class="ie-noscript-warning">您的浏览器禁用了脚本，请<a href="">查看这里</a>来启用脚本!或者<a href="/?noscript=1">继续访问</a>.
         </div>
    </noscript>
    <![endif]-->
  </head>
  <body>
    <%- include nav %>
    <div class='pure-g'>
      <%- include cover %>
      <%- include index-list %>
    </div>
    <% if(success) { %>
      <div><%= success %></div>
    <% } %>
    <% if(error) { %>
      <div><%= error %></div>
    <% } %>
  </body>
</html>
<script type="text/javascript"></script>